.idea/*
MonthlyBudgetApplication.xcodeproj/project.xcworkspace/xcuserdata/ansal.xcuserdatad/
MonthlyBudgetApplication.xcodeproj/xcuserdata/ansal.xcuserdatad/
MonthlyBudgetApplication/Model.xcdatamodeld/
.DS_Store
MonthlyBudgetApplication.xcodeproj/project.xcworkspace/xcuserdata/mohini.xcuserdatad/UserInterfaceState.xcuserstate
